

<div class="main-div">

  <mat-card style="background-color: #eeeeff">
    <mat-card-header>
      <mat-icon matTooltip="{{application.applicationStatus}}" *ngIf="application.applicationStatus === ApplicationStatus.Applied" mat-card-avatar>publish</mat-icon>
      <mat-icon matTooltip="{{application.applicationStatus}}" *ngIf="application.applicationStatus === ApplicationStatus.Replied" mat-card-avatar>reply</mat-icon>
      <mat-icon matTooltip="{{application.applicationStatus}}" *ngIf="application.applicationStatus === ApplicationStatus.Accepted" mat-card-avatar>done_all</mat-icon>
      <mat-card-title>
        <span class="subtitle-span">{{application.name}}</span>
        <span>({{application.nameCompany}})</span>
      </mat-card-title>
      <mat-card-subtitle>
        <span class="subtitle-span">{{application.startTime}}</span>
        <span class="subtitle-span">-</span>
        <span class="subtitle-span">{{application.endTime}}</span>
        <span class="subtitle-span">{{application.status}}</span>
      </mat-card-subtitle>
      <mat-card-subtitle>
        <span class="subtitle-span">{{application.idCompany}}</span>
        <span class="subtitle-span">{{application.location}}</span>
        <span class="paid-span" *ngIf="application.paid">paid</span>
        <span class="subtitle-span">
          <button mat-button matTooltip="Show extra message" (click)="onShowExtraMessage()">
            <mat-icon>description</mat-icon>
          </button>
        </span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="display: inline-block">
      <app-show-more-less-text [text]="application.description" limit="80"></app-show-more-less-text>
    </mat-card-content>
    <mat-card-footer *ngIf="application.status === InternshipStatus.Closed" style="margin-left: 1vw">
      <mat-divider></mat-divider>

        <star-rating [value]="0"
                       checkedcolor="gold"
                       uncheckedcolor="black"
                       readonly="false"
                       size="30px" (rate)="onRate($event)">

        </star-rating>


      <mat-form-field>
          <label>
            <textarea matInput placeholder="Leave a comment" [(ngModel)]="feedbackComment"></textarea>
          </label>
        </mat-form-field>
        <button mat-button (click)="submitRating()">SUBMIT</button>
    </mat-card-footer>
  </mat-card>

</div>
