
<mat-horizontal-stepper [linear]="isLinear">
  <mat-step label="Choose profile" [completed]="selectedProfile">
    <div>
      <div class="div-title">
        <p class="step-title">Step 1:&nbsp;</p><p class="step-title description-title">Choose profile</p>
      </div>
      <p class="choose-one">{{error}}</p>

      <div class="images-div">
        <div class="profile-div">
        </div>

        <div class="profile-div">
          <input class="radio" type="radio" value="student" [(ngModel)]="selectedProfile" id="radioStudent">
          <label class="opacity" for='radioStudent'>
            <img class="image" alt='avatar' src='assets/img/student.png'>
          </label>
        </div>

        <div class="profile-div">
          <input class="radio" type="radio" value="company" [(ngModel)]="selectedProfile" id="radioCompany">
          <label class="opacity" for="radioCompany">
            <img alt='avatar' class="image" src="assets/img/company.png">
          </label>
        </div>

        <div class="profile-div">
          <button mat-button matStepperNext (click)="clickOnNext()" >
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </div>
    </div>


  </mat-step>
  <mat-step label="Registration" >

    <div class="div-title">
      <p class="step-title">Step 2:&nbsp;</p><p class="step-title description-title">Registration</p>
    </div>
    <p class="choose-one">{{errorRegistration}}</p>
      <div class="example-container">

          <mat-form-field>
            <input matInput placeholder="Enter your email" [formControl]="email" required >
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
              <input matInput placeholder="Enter your password" [type]="hidePassword ? 'password' : 'text'" [(ngModel)]='password' required>
              <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" >
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field>

          <mat-form-field>
              <input matInput placeholder="Re-type your password" [type]="hideRetypePassword ? 'password' : 'text'" [(ngModel)]='retypePassword'
               required  >
              <button mat-icon-button matSuffix (click)="hideRetypePassword  = !hideRetypePassword " >
              <mat-icon>{{hideRetypePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field>
        
          <div *ngIf="validComponent()">
            <button mat-button matStepperNext (click)="clickOnAboutYou()"  >
                  <mat-icon>navigate_next</mat-icon>
            </button>
    </div>
       </div>

  </mat-step>
  <mat-step label="About you">

  </mat-step>
  <mat-step label="Key words">

  </mat-step>
</mat-horizontal-stepper>

