<p> <strong>S T U D I E S</strong> </p>

<div class="main-div" *ngFor="let study of studies">

  <div class="study">
    <label class="profile-title">Institution name:</label>
    <p>{{study.nameOfInstitution}}</p>
  </div>

  <div class="study">
    <label class="profile-title">Profile:</label>
    <p>{{study.profile}}</p>
  </div>

  <div class="study">
    <label class="profile-title">Start date:</label>
    <p>{{formatDate(study.startDate)}}</p>
  </div>

  <div class="study">
    <label class="profile-title">End date:</label>
    <p>{{formatDate(study.endDate)}}</p>
  </div>

  <div class="study">
    <label class="profile-title">Description:</label>
    <p>{{study.description}}</p>
  </div>
</div>


<button mat-button style="float: right" (click)="makeEditable()">
  <mat-icon>edit</mat-icon>
</button>
