<div [formGroup]="form">
<!-- IONUT -->
  <mat-form-field class="fields">
    <ngx-mat-file-input formControlName="bytesArray" placeholder="file" accept="image/*"
                        (change)="fileProgress($event)">
    </ngx-mat-file-input>
    <mat-icon matSuffix>photo</mat-icon>
  </mat-form-field>
  <br>

  <mat-form-field class="field">
    <label>
      <input matInput placeholder="Name" formControlName="name">
    </label>
  </mat-form-field>
  <br>

  <mat-form-field class="field">
    <label>
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </label>
  </mat-form-field>
  <br>

  <mat-form-field class="field">
    <label>
      <input matInput placeholder="Location" formControlName="location">
    </label>
  </mat-form-field>
  <br>

  <mat-form-field class="field">
    <label>
      <input matInput placeholder="Technology" formControlName="technology">
    </label>
  </mat-form-field>
  <br>

  <mat-checkbox formControlName="paid">Paid</mat-checkbox>
  <br>

  <mat-form-field>
    <label>
      <input matInput [matDatepicker]="fromDate" placeholder="Start date" formControlName="fromDate">
    </label>
    <mat-datepicker-toggle [for]="fromDate" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #fromDate></mat-datepicker>
  </mat-form-field>
  <br>

  <mat-form-field class="fields">
    <label>
      <input matInput [matDatepicker]="toDate" placeholder="End date" formControlName="toDate">
    </label>
    <mat-datepicker-toggle [for]="toDate" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #toDate></mat-datepicker>
  </mat-form-field>

<!--  <br>-->
<!--  <mat-form-field>-->
<!--    <mat-label>Status</mat-label>-->
<!--    <mat-select formControlName="status">-->
<!--      <mat-option *ngFor="let status of this.companyService.statuses" [value]="status">-->
<!--        {{status}}-->
<!--      </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--  <br>-->
</div>
