<mat-icon class="help-l" matTooltip="Info about work experience" style="float: right">help</mat-icon>
<p> Work experience</p>

<div [formGroup]="form">
  <div formArrayName="workExperience">

    <div *ngFor="let work of experiences; let i=index" [formGroupName]="i">

      <mat-form-field class="fields">
        <label>
          <input matInput placeholder="Where" formControlName="where" value = "{{work.companyName}}">
        </label>
      </mat-form-field>

      <mat-form-field class="fields">
        <label>
          <input matInput placeholder="Job" formControlName="job" value = "{{work.jobName}}">
        </label>
      </mat-form-field>
      <br>

      <mat-form-field class="fields">
        <label>
          <input matInput [matDatepicker]="fromDateWork" placeholder="Choose a date" formControlName="fromDate"
                 value = "{{work.startDate}}">
        </label>
        <mat-datepicker-toggle [for]="fromDateWork" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #fromDateWork></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="fields">
        <label>
          <input matInput [matDatepicker]="toDateWork" placeholder="Choose a date" formControlName="toDate"
                 value = "{{work.endDate}}">
        </label>
        <mat-datepicker-toggle [for]="toDateWork" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #toDateWork></mat-datepicker>
      </mat-form-field>

      <br>

      <button mat-raised-button (click)="removeWork(i)">
        <mat-icon>delete</mat-icon>
      </button>

    </div>

    <button mat-raised-button (click)="addWork()">
      <mat-icon>add</mat-icon>
    </button>

  </div>
</div>

<button mat-button style="float: right" (click)="submitForm()">
  <mat-icon>save</mat-icon>
</button>
