<div [formGroup]="form">
  <mat-form-field class="field">
    <label>
      <input class="inputs" matInput placeholder="address" formControlName="address" value="{{company.address}}">

      <mat-error *ngIf="form.get('address').invalid">
        {{errorHandling('address', 'emptyInput', 'required')}}
      </mat-error>
    </label>
  </mat-form-field>
  <br>

  <mat-form-field class="field">
    <label>
      <input class="inputs" matInput placeholder="field" formControlName="field" value="{{company.field}}">

      <mat-error *ngIf="form.get('field').invalid">
        {{errorHandling('field', 'emptyInput', 'required')}}
      </mat-error>
    </label>
  </mat-form-field>
  <br>

  <mat-form-field class="field">
    <label>
      <textarea class="inputs" matInput placeholder="description" formControlName="description" value="{{company.description}}"></textarea>
    </label>
  </mat-form-field>
  <br>
</div>

<button mat-button style="float: right" (click)="submitForm()">
  <mat-icon>save</mat-icon>
</button>
