<div>
  <section class="tabs-content" id="feed">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h4>What others think of interMap ?</h4>
            <p>Take a look at some feedbacks.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="wrapper">
          <div class="col-md-6">
            <ul class="feedback" data-tabgroup="first-tab-group" *ngFor="let item of items">
                <li (click)="toggle(items, item)" ><ul class="info-post">
                  <li><h4>{{item.title}}</h4></li>
                  <li><i><mat-icon>account_circle</mat-icon></i>{{item.username}}</li>
                  <li><i><mat-icon>calendar_today</mat-icon></i>{{item.date}}</li>
                  <li><i><mat-icon>bookmark</mat-icon></i>{{item.internship}}</li>
                </ul>
                </li>
            </ul>
          </div>
          <div class="col-md-6">
            <div id="first-tab-group" class="tabgroup" *ngFor="let item of items">
              <div [hidden]="item.hidden">
                <img src={{item.image}} alt="">
                <div class="text-content">
                  <h4>{{item.title}}</h4>
                  <ul class="info-post2">
                    <li><i><mat-icon>account_circle</mat-icon></i>{{item.username}}</li>
                    <li><i><mat-icon>calendar_today</mat-icon></i>{{item.date}}</li>
                    <li><i><mat-icon>bookmark</mat-icon></i>{{item.internship}}</li>
                  </ul>
                  <p>{{item.feedback}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
