<div [formGroup]="form" class="container-interest">
  <mat-form-field>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let fruit of fruits"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(fruit)">
        {{fruit}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Interests..."
        #interestInput
        formControlName="fruitCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
        {{fruit}}
      </mat-option>
    </mat-autocomplete>
    <mat-icon matSuffix (click)="addInterest()" style="cursor: pointer">add</mat-icon>
  </mat-form-field>
  <br>

  <p *ngIf="allInterestsSuggested.length>0"> Suggestions:</p>

  <mat-chip-list>
    <mat-chip *ngFor="let i of allInterestsSuggested" [selectable]="selectable"
              [removable]="removable" (removed)="removeSuggestion(i)">
      {{ i }}
      <mat-icon matChipRemove *ngIf="removable">add</mat-icon>
    </mat-chip>

  </mat-chip-list>

</div>

<button mat-button style="float: right" (click)="submitForm()">
  <mat-icon>save</mat-icon>
</button>
