
  <!-- <button (click)="onClickMe()">Click me</button> -->


<div class="dreapta">
  
  <div class="topright">
  <div class="form-check" *ngFor="let company of getCompanyList() " >
    <input class="form-check-input" (change)="onChange(company, $event.target.checked)" name="{{ company }}" type="checkbox" id="{{company}}">
    <label class="form-check-label" for="{{company}}">
        {{company}}   ( {{getNumberInternshipsOfCompany(company)}} )  
    </label>
   
  </div>
  </div>

  <div class="stanga">
  <div class="row">
    <div class="col-xs-12">
      <app-internship-item
      *ngFor="let internshipEl of internships  | filterForMultipleCompany:filteredMultipleCompany:'company' | paginate: { itemsPerPage: 3, currentPage: p }"
        [internship]="internshipEl"
        (internshipSelected)=" onInternshipSelected(internshipEl)"></app-internship-item>
    </div>
    </div>
    
  <div style="padding-left:450px;">
    <pagination-controls class="my-pagination" (pageChange)="p= $event"></pagination-controls>
  </div>

  </div>
</div>
  <!-- *ngFor="let internshipEl of internships  | filterCompany:filteredChildCompany:'company' | paginate: { itemsPerPage: 3, currentPage: p }" -->