
  .my-pagination /deep/ .ngx-pagination {
    font-size: 20px;
  }
  .my-pagination /deep/ .ngx-pagination .current {
    background: rgb(13, 6, 73)  !important;
    border: transparent !important;
  }



  .container {
    width: 1700px;
    height: 700px;

}
 .right {
  font-size: 15px;
  float : right;
  margin-right: 250px;
  margin-top: 1vw;
  background-color: #eeeeff;
  border: solid 1px;
  width: 300px;
 }
 .left {
  
   /* margin-left: 50px; */
  float: left;
  list-style: none;
  width: 1000px;
 }

 .left-2 {
   float: left;
   list-style: none;
 }

 .right-2 {
  float: right;

}
.nav li {
  display: inline-block;
  font-size: 20px;
}

.card {
  background: #eeeeff;
  height: 700px;
}