
  .my-pagination /deep/ .ngx-pagination {
    font-size: 20px;
  }
  .my-pagination /deep/ .ngx-pagination .current {
    background: rgb(13, 6, 73)  !important;
    border: transparent !important;
  }



  .dreapta {
    width: 1500px;
    height: 700px;
    background-color: red;
    position: relative;
}
 .topright {
  font-size: 15px;
  /* margin-left: 1240px; */
  margin-left: 850px;
 }
 .stanga {
  margin-right: 750px;
 }

 #nav ul li {
  float: left;
  list-style: none;
  margin: 0 20px;
}
#nav .search {
  float: right;
}
/* <div id="nav">
   <div class="search">
     <input type="text" name="search" id="search" value="search">
   </div>       
   <ul>
     <li><a href="#">Home</a></li>
     <li><a href="#">Portfolio</a></li>
     <li><a href="#">Blog</a></li>
     <li><a href="#">Contact</a></li>
   </ul>
</div> */