
  <!-- <button (click)="onClickMe()">Click me</button> -->



  <div class="form-check" *ngFor="let company of getCompanyList()">
    <input class="form-check-input" (change)="onChange(company, $event.target.checked)"name="{{ company }}" type="checkbox" id="{{company}}">
    <label class="form-check-label" for="{{company}}">
        {{company}}
    </label>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <app-internship-item
      *ngFor="let internshipEl of internships  | filterForMultipleCompany:filteredMultipleCompany:'company' | paginate: { itemsPerPage: 3, currentPage: p }"
        [internship]="internshipEl"
        (internshipSelected)=" onInternshipSelected(internshipEl)"></app-internship-item>
    </div>
    </div>
  
    
  <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
  <div style="padding-left:450px;">
    <pagination-controls class="my-pagination" (pageChange)="p= $event"></pagination-controls>
  </div>
  <!-- *ngFor="let internshipEl of internships  | filterCompany:filteredChildCompany:'company' | paginate: { itemsPerPage: 3, currentPage: p }" -->
  <!-- *ngFor="let internshipEl of internships  | filterMultipleCompany: filteredMultipleCompany:'company' | paginate: { itemsPerPage: 3, currentPage: p }" -->