
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <p>Copyright &copy; 2019 B.I.R.U. Software <br>
        </p>
      </div>
      <div class="col-md-4 col-sm-12">
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/" style="color:black">Facebook</a></li>
          <li><a href="https://www.linkedin.com/" style="color:black">Linkedin</a></li>
          <li><a href="https://www.intagram.com/" style="color:black">Instagram</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-md-offset-2 col-sm-12" style="background-color:#7f7caf">
        <div class="back-to-top" >
          <a href="#top">
            <i class="fa fa-angle-up" ></i>
            back to top
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
