<footer>
  <ul class="social-icons">
    <li><a href="https://www.facebook.com/" style="color:black">Copyright &copy; 2019 B.I.R.U. Software</a></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li><a href="https://www.facebook.com/" style="color:black">Facebook</a></li>
    <li><a href="https://www.linkedin.com/" style="color:black">Linkedin</a></li>
    <li><a href="https://www.intagram.com/" style="color:black">Instagram</a></li>
  </ul>
</footer>

