.banner {
  background-image: url('../../../assets/img/banner-bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.banner-content {
  text-align: center;
  padding: 280px 0px 200px 0px;
}

.banner-content h6 {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.banner-content h2 {
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.banner-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.banner-content ul li {
  display: inline-block;
  margin: 10px;
}


.intro {
  background-color: #46bae2;
  text-align: center;
  padding: 80px 0px;
}

.intro h4 {
  margin-top: 0px;
  font-size: 44px;
  font-weight: 300;
  color: #fff;
}

.intro h6 {
  margin-top: 15px;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

.intro .border-button {
  margin-top: 45px;
}
