<section id="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h4 >Contact Us</h4>
          <p>Fill the form below if you have any questions, feedbacks or suggestions.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <form id="contact">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput type="text" id="name" [formControl]="name"  placeholder="Name" required>
                <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput  [formControl]="email" type="email" id="email" placeholder="Email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput  [formControl]="subject" type="text" id="subject" placeholder="Subject" required>
                <mat-error *ngIf="subject.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput [formControl]="phone"  type="phone" id="phone" placeholder="Phone" required>
                <mat-error *ngIf="phone.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field style="width: 85%">
                <textarea matInput (resize)="message"  [formControl]="message" rows="6"  id="message" placeholder="Message" required></textarea>
                <mat-error *ngIf="message.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
        <div class="col-md-12">
          <button color="black" mat-button (click)="sendMessage()" id="form-submit" class="btn">Send your message</button>
        </div>
      </div>
      <div class="col-md-6">
        <div id="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21862.822787091358!2d23.57977306751628!3d46.76779691040099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490c262f3726c3%3A0xf81e049e69dfa995!2sUniversitatea%20Babe%C8%99-Bolyai!5e0!3m2!1sro!2sro!4v1573207982125!5m2!1sro!2sro" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
