<div class="example-container">
  <form [formGroup]="form" >
    <div class="main-div">
    <div class="form-div">
<!--      <div class="add-photo-div" >-->
        <label class="upload-image-div">
          <span>Add a profile picture</span>
          <input #imageInput
                 type="file"
                 accept="image/*"
                 (change)="processFile(imageInput)" formControlName="avatar">
        </label>
      <br>
      <mat-form-field class="fields" >
        <label>
          <input matInput placeholder="name" formControlName="name">
        </label>
      </mat-form-field>
      <br>
      <mat-form-field class="fields" >
        <label>
          <input matInput placeholder="surname" formControlName="surname">
        </label>
      </mat-form-field>
      <br>
      <mat-form-field>
        <label>
          <input matInput [matDatepicker]="dateOfBirth" placeholder="Date of birth">
        </label>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-radio-group aria-label="Select an option" formControlName="sex" class="fields">
        <mat-radio-button value="M" class="radioB">M</mat-radio-button>
        <mat-radio-button value="F" class="radioB">F</mat-radio-button>
        <mat-radio-button value="NO" class="radioB">NO</mat-radio-button>
      </mat-radio-group>
      <br>
      <mat-form-field class="fields" >
        <label>
          <input matInput placeholder="address" formControlName="address">
        </label>
      </mat-form-field>
      <br>
      <mat-form-field class="fields" >
        <label>
          <input matInput placeholder="phone" formControlName="phone">
        </label>
      </mat-form-field>
      <br>


    </div>
    </div>

  </form>
</div>
