<div class="example-container">
  <form [formGroup]="form" >
    <div class="main-div">
    <div class="form-div">
      <mat-form-field class="fields">
        <ngx-mat-file-input placeholder="file" accept="image/*"
                            (change)="fileProgress($event)">
        </ngx-mat-file-input>
        <mat-icon matSuffix>photo</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field class="fields" >
        <label>
          <input matInput placeholder="first name" formControlName="firstName">
        </label>
      </mat-form-field>
      <br>
      <mat-form-field class="fields" >
        <label>
          <input matInput placeholder="last name" formControlName="lastName">
        </label>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Day of Birth"
               (dateInput)="addDate('input', $event)" (dateChange)="addDate('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-radio-group aria-label="Select an option" formControlName="sex" class="fields">
        <mat-radio-button value="M" class="radioB">M</mat-radio-button>
        <mat-radio-button value="F" class="radioB">F</mat-radio-button>
<!--        <mat-radio-button value="NO" class="radioB">NO</mat-radio-button>-->
      </mat-radio-group>
      <br>
      <mat-form-field class="fields" >
        <label>
          <input matInput placeholder="address" formControlName="address">
        </label>
      </mat-form-field>
      <br>
      <mat-form-field class="fields" >
        <label>
          <input matInput placeholder="phone" formControlName="phone">
        </label>
      </mat-form-field>
      <br>
    </div>
    </div>

  </form>
</div>
