<p> <strong>W O R K</strong> </p>
<div class="main-div" *ngFor="let exp of experiences">

  <div class="work">
    <label class="profile-title">Company name:</label>
    <p>{{exp.companyName}}</p>
  </div>
  <div class="work">
    <label class="profile-title">Start date:</label>
    <p>{{exp.startDate}}</p>
  </div>
  <div class="work">
    <label class="profile-title">End date:</label>
    <p>{{exp.endDate}}</p>
  </div>
  <div class="work">
    <label class="profile-title">Job name:</label>
    <p>{{exp.jobName}}</p>
  </div>
  <div class="work">
    <label class="profile-title">Description:</label>
    <p>{{exp.description}}</p>
  </div>
</div>

<button mat-button style="float: right" (click)="makeEditable()">
  <mat-icon>edit</mat-icon>
</button>
