<div class="container-details">
<!--  <img id="profileImg" [src]="previewUrl" alt="ProfilePicture">-->

  <div class="div1">
    <br>
    <label class="profile-title">Name</label>
    <br>
    <p>{{company.name}}</p>
    <br>

    <label class="profile-title">Email</label>
    <br>
    <p>{{company.email}}</p>
    <br>

    <label class="profile-title">Phone</label>
    <br>
    <p>{{company.phone}}</p>
  </div>


</div>

<button mat-button style="float: right" *ngIf="!isEditMode" (click)="makeEditable()">
  <mat-icon>edit</mat-icon>
</button>
