<img class="profileImg" src="https://image.flaticon.com/icons/png/512/21/21294.png" alt="profilePicture">
<div [formGroup]="form">
  <mat-form-field class="fields">
    <label>
      <input matInput placeholder="name" formControlName="name">
    </label>
  </mat-form-field>
  <br>
  <mat-form-field  class="fields">
    <label>
      <input matInput placeholder="phone" formControlName="phone">
    </label>
  </mat-form-field>
  <br>
  <mat-form-field  class="fields">
    <label>
      <input matInput placeholder="email" formControlName="email">
    </label>
  </mat-form-field>
  <br>
  <button  class="fields" mat-raised-button (click)="addInternshipHandler()">ADD INTERNSHIP</button>
</div>

