

.container {

    width: 750px;
}

.right {
    float: right;
    list-style: none;
    width: 450px;

}

 .list-group-item-heading {
    margin-right: 450px;
}

.list-group-item-text {
    margin-right: 100px;
    width: 60%;
    float: left;

}


.left {
   float: left;
}



.card {
  background-color: #eeeeff;
  /*margin-left: 13vw;*/
  /*margin-right: 13vw;*/
  margin-top: 3vw;
}

.status-edit-div {
  float: left;
  display: flex;
}

.status-div {
  border: 2px solid black;
  padding-left: 1vw;
  padding-right: 1vw;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1vw;
}

.paid-div {
  background-color: greenyellow;
}

.footer-div {
  display: flex;
  justify-content: space-between;
}

.more-button {
  float: left;
}
