

.container {

    width: 750px;
}

.right {
    float: right;
    list-style: none;
    width: 450px;
    
}

 .list-group-item-heading {
    margin-right: 450px;
}

.list-group-item-text {
    margin-right: 100px;
    width: 60%;   
    float: left;
  
}


.left {
   float: left;
}

