

<div class="container">
<a
  href="#"
  class="list-group-item clearfix"
  (click)="onSelected()">
  <div class="pull-left">
    <h3 class="list-group-item-heading">{{ internship.name }}</h3>
    <h4 class="list-group-item-text">{{ internship.company }}</h4>
    <p class="list-group-item-text">{{ internship.description }}</p>
    <p class="list-group-item-text">{{ internship.location }}</p>
    <star-rating [value]="internship.rating" checkedcolor="gold" uncheckedcolor="black" 
          size="30px"  readonly="true" (rate)="onRate($event)"></star-rating>
  </div>
  <span class="pull-right" >
        <img
          [src]="internship.imagePath"
          alt="{{ internship.name }}"
          class="img-responsive"
          style="max-height: 100px;">
      </span>
</a>
</div>