<div [formGroup]="form" class="container-contact">

  <div class="container-row-field">
    <mat-form-field class="fields">
      <mat-icon matPrefix>person_pin</mat-icon>
      <label>
        <input matInput placeholder="address" formControlName="address" value = "{{candidate.address}}">
      </label>
    </mat-form-field>
  </div>
  <div class="container-row-field">
    <mat-form-field class="fields">
      <mat-icon matPrefix>phone</mat-icon>
      <label>
        <input matInput placeholder="phone" formControlName="phone" value = "{{candidate.telephone}}">
      </label>
    </mat-form-field>

    <mat-form-field class="fields">
      <mat-icon matPrefix>email</mat-icon>
      <label>
        <input matInput placeholder="email" formControlName="email" value = "{{candidate.id}}">
      </label>
    </mat-form-field>
  </div>

  <div class="container-row-field">
    <mat-form-field class="fields">
      <mat-icon matPrefix>insert_link</mat-icon>
      <label>
        <input matInput placeholder="LinkedIn" formControlName="linkedIn" value = "{{candidate.linkLinkedin}}">
      </label>
    </mat-form-field>

    <mat-form-field class="fields">
      <mat-icon matPrefix>insert_link</mat-icon>
      <label>
        <input matInput placeholder="GitHub" formControlName="github" value = "{{candidate.linkGithub}}">
      </label>
    </mat-form-field>
  </div>
</div>
<button mat-button style="float: right" (click)="submitForm()">
  <mat-icon>save</mat-icon>
</button>

