.fields{
  width: 100%;
  margin: 2vw;
  padding: 1vw;
  background-color: white;
  border-radius: 3vw;
}

.container-contact{
  display: flex;
  flex-direction: column;
  align-items:  center;
}

.container-row-field{
  display: flex;
  flex-direction: row;
}
