<app-candidate-menu></app-candidate-menu>

<app-custom-spinner *ngIf="service.isLoading || serviceInt.isLoading"></app-custom-spinner>

<div class="main-div" *ngIf="!service.isLoading && !serviceInt.isLoading">

  <form [formGroup]="profileForm">
<!--    Value: {{ profileForm.value | json }} <br>-->
    <div class="form-profile-content">
      <div class="side-div sticky">

        <div class="form-div" *ngIf="!service.isEditPersonalDetails">
          <app-personal-details-view></app-personal-details-view>
        </div>

        <div class="form-div" *ngIf="service.isEditPersonalDetails">
          <app-personal-details formControlName="personalDetails"></app-personal-details>
        </div>

        <div class="form-div" *ngIf="!serviceInt.isEditInterests">
          <app-interests-view></app-interests-view>
        </div>

        <div class="form-div" *ngIf="serviceInt.isEditInterests">
          <app-interests formControlName="interests"></app-interests>
        </div>

      </div>
      <div class="side-div sticky">

        <div class="form-div" *ngIf="!service.isEditContact">
          <app-contact-view></app-contact-view>
        </div>

        <div class="form-div" *ngIf="service.isEditContact">
          <app-contact formControlName="contact"></app-contact>
        </div>

        <div class="form-div" *ngIf="!service.isEditStudies">
          <app-studies-view></app-studies-view>
        </div>

        <div class="form-div" *ngIf="service.isEditStudies">
          <app-studies formControlName="studies"></app-studies>
        </div>

        <div class="form-div" *ngIf="!service.isEditLanguage">
          <app-languages-view></app-languages-view>
        </div>

        <div class="form-div" *ngIf="service.isEditLanguage">
          <app-languages formControlName="languages"></app-languages>
        </div>

        <div class="form-div" *ngIf="!service.isEditWorkExperience">
          <app-work-experience-view></app-work-experience-view>
        </div>

        <div class="form-div" *ngIf="service.isEditWorkExperience">
          <app-work-experience formControlName="workExperience"></app-work-experience>
        </div>

        <div class="form-div" *ngIf="!service.isEditDescription">
          <app-tell-us-more-view></app-tell-us-more-view>
        </div>

        <div class="form-div" *ngIf="service.isEditDescription">
          <app-tell-us-more formControlName="tellUsMore"></app-tell-us-more>
        </div>
      </div>
    </div>
  </form>
</div>
