
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media all and (max-width: 800px) {
  .sticky {
    position: static;
    top: 0;
    background-color: blue;
  }
}

@media all and (max-width: 500px) {
  .sticky {
    position: static;
    top: 0;
    background-color: green;
  }
}

.main-div {
}

.form-profile-content{
  display: flex;
  align-items: self-start;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.side-div {
  display: flex;
  flex-direction: column;
}

.left-div {
  width: 30vw;
}

.right-div {
  width: 50vw;
}

.form-div {
  border: 1px solid;
  padding: 2vw;
  /*margin-top: 5vw;*/
  /*margin-left: 5vw;*/
  margin: 2vw;
  border-radius: 2vw;
  box-shadow: 0.5vw 0.5vw #0d3c73;
}

.form-div-left {
  background-color: #eeeeff;
}

.form-div-right {
  background-color: #eeeeff;
}

.help-s {
  margin-left: 95%;
}

.help-l {
  margin-left: 95%;
}

.help-w {
  margin-left: 95%;
}
