<div class="container-details">
  <img id="profileImg" [src]="previewUrl" alt="ProfilePicture">
  <br>
  <div class="div1" [formGroup]="form">
    <mat-form-field class="fields">
      <ngx-mat-file-input formControlName="file" placeholder="file" accept="image/*"
                          (change)="fileProgress($event)">
      </ngx-mat-file-input>
      <mat-icon matSuffix>photo</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field class="fields">
      <label>
        <input matInput placeholder="name" formControlName="name" value="{{candidate.firstName}}">
<!--        <mat-error *ngIf="form.controls['name'].invalid">-->
<!--          {{errorHandling('name', 'required', 'required')}}-->
<!--        </mat-error>-->
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="fields">
      <label>
        <input matInput placeholder="surname" formControlName="surname" value="{{candidate.lastName}}"
        >
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="fields">
      <label>
        <input matInput [matDatepicker]="myDatePicker" placeholder="Choose a date"
               formControlName="dateOfBirth" [value]="startDate">
      </label>
      <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker [disabled]="false" #myDatePicker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-radio-group aria-label="Select an option" [value]="gender" formControlName="sex" class="fields">
      <mat-radio-button value=M [checked]="gender===0" class="radioB">M</mat-radio-button>
      <mat-radio-button value=F [checked]="gender== 1" class="radioB">F</mat-radio-button>
      <mat-radio-button value=NO [checked]="gender== 2" class="radioB">NO</mat-radio-button>
    </mat-radio-group>

  </div>
</div>
<button mat-button style="float: right" (click)="submitForm()">
  <mat-icon>save</mat-icon>
</button>

