<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>What you can find on interMap?</h4>
      </div>
    </div>
  </div>
</div>
<section id="about" class="page-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="service-item first-service">
          <div class="icon">
            <img style="width:110px;height:110px;margin-right: 20" src="assets/img/internship-icon2.png" alt="">
          </div>
          <h4>Internships</h4>
          <p>Aenean ac ultricies nisl. Nullam vitae aliquam velit. Vestibulum a ex eget arcu accumsan luctus at vitae urna. Vestibulum ante ipsum primis in faucibus.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item second-service">
          <div class="icon">
            <img style="width:90px;height:110px;" src="assets/img/company-icon.png" alt="">
          </div>
          <h4>Companies</h4>
          <p>Aenean ac ultricies nisl. Nullam vitae aliquam velit. Vestibulum a ex eget arcu accumsan luctus at vitae urna. Vestibulum ante ipsum primis in faucibus.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item third-service">
          <div class="icon">
            <img style="width:90px;height:110px;" src="assets/img/feed-icon.png" alt="">
          </div>
          <h4>Feedbacks</h4>
          <p>Aenean ac ultricies nisl. Nullam vitae aliquam velit. Vestibulum a ex eget arcu accumsan luctus at vitae urna. Vestibulum ante ipsum primis in faucibus.</p>
        </div>
      </div>
    </div>
  </div>
</section>
