<div class="intro">
  <div class="container">
    <div style="height:30px">
      <div style="height:20px">
        <h4>What you can find on interMap?</h4>
      </div>
    </div>
  </div>
</div>
<section id="about" class="page-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="service-item first-service" style="height:450px">
          <div>
            <div class="randulet" >
              <div class="coloana">
                <p class="cifre">80</p>
              </div>
              <div class="coloana">
                <img style="width:90px;height:110px;margin-right: 160px" src="assets/img/internship-icon2.png" alt="">
              </div>
            </div>
          </div>
          <h4>Internships</h4>
          <p>Every day the map grows bigger and bigger and tries to offer you many locations were you can stop and take
          a look at your future!</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item second-service" style="height:450px">
          <div>
            <div class="randulet" >
              <div class="coloana">
                <p class="cifre">50</p>
              </div>
              <div class="coloana">
                <img style="width:90px;height:110px;margin-right: 160px" src="assets/img/company-icon.png" alt="">
              </div>
            </div>
          </div>
          <h4>Companies</h4>
          <p>Along with the map, the number of companies grows also. We are now 30 members on interMap but we can't wait for the family to grow bigger!</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item third-service" style="height:450px">
          <div class="icon">
            <img style="width:90px;height:110px;" src="assets/img/feed-icon.png" alt="">
          </div>
          <h4 style="margin-top: 70px">Feedbacks</h4>
          <p>Don't worry! The stars are not only on the sky. You can now find them here, on interMap, where you can give rating to every company and internship
          you have applied. You can also leave a feedback so the ones that will come after you will have an idea of what happens here.</p>
        </div>
      </div>
    </div>
  </div>
</section>
