<app-company-menu></app-company-menu>
<div class='main-container'>
  <form class='form-circle' [formGroup]="form">
    <h1 class='reset-title'>Reset your password</h1>
    <p >Enter a new password:</p>
    <div class='input-position'>
      <mat-form-field class="login-input">
        <input matInput formControlName="password" placeholder="new password"
               [type]="hidePassword ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint class="ac-form-field-description">Between 6 and 24 characters.</mat-hint>
        <mat-error *ngIf="form.get('password').hasError('required')">
          Password is mandatory.
        </mat-error>
        <mat-error *ngIf="form.get('password').hasError('minlength')">
          Password with less than 6 characters.
        </mat-error>
        <mat-error *ngIf="form.get('password').hasError('maxlength')">
          Password with more than 24 characters.
        </mat-error>
      </mat-form-field>
      <mat-label class="forgot-password-error-message">{{forgotPasswordMessage}}</mat-label>
    </div>
    <button (click)='resetPassword()' class='input-button' value='ResetPassword'>
      RESET PASSWORD
    </button>
  </form>
</div>
