<app-company-menu></app-company-menu>

<app-custom-spinner *ngIf="companyService.isLoading || serviceInt.isLoading"></app-custom-spinner>

<div class="main-div" *ngIf="!companyService.isLoading && !serviceInt.isLoading">
  <form [formGroup]="profileForm">
    Value: {{ profileForm.value | json }} <br>
    <div class="side-div">

      <div class="form-div" *ngIf="!companyService.isEditProfile">
        <app-profile-view></app-profile-view>
      </div>

      <div class="form-div" *ngIf="companyService.isEditProfile">
        <app-profile formControlName="profile"></app-profile>
      </div>

    </div>
    <div class="side-div">

      <div class="form-div" id="about-div">
        <app-about formControlName="about"></app-about>
      </div>

      <br>
      <div class="form-div" id="interests-div">
        <app-interests formControlName="interests"></app-interests>
      </div>
      </div>
  </form>
</div>

<div>
  <div *ngFor="let internship of getInternships(); let i=index" class="internship-item">
    <app-company-internships [internship]="internship" [index]="i"></app-company-internships>
  </div>
</div>
