<app-company-menu></app-company-menu>

<app-custom-spinner *ngIf="companyService.isLoading || serviceInt.isLoading"></app-custom-spinner>

<div class="main-div" *ngIf="!companyService.isLoading && !serviceInt.isLoading">
  <form [formGroup]="profileForm">
    <div class="form-profile-content">
      <div class="side-div sticky left-div">

        <div class="form-div" *ngIf="!companyService.isEditProfile">
          <app-profile-view></app-profile-view>
        </div>

        <div class="form-div" *ngIf="companyService.isEditProfile">
          <app-profile formControlName="profile"></app-profile>
        </div>

      </div>
      <div class="side-div sticky right-div">

        <div class="form-div form-div-right" *ngIf="!companyService.isEditAbout">
          <app-about-view></app-about-view>
        </div>

        <div class="form-div form-div-right" *ngIf="companyService.isEditAbout">
          <app-about formControlName="about"></app-about>
        </div>

        <!--      <br>-->
        <!--      <div *ngIf="!serviceInt.isEditInterests" class="form-div" id="interests-div">-->
        <!--        <app-interests-view></app-interests-view>-->
        <!--      </div>-->

        <!--      <div  *ngIf="serviceInt.isEditInterests" class="form-div" id="interests-div">-->
        <!--        <app-interests formControlName="interests"></app-interests>-->
        <!--      </div>-->
      </div>
    </div>
  </form>


</div>
