<!--<mat-toolbar color="primary" (scroll)="scrollHandler($event)" style="position: absolute; z-index: 1">-->
<!--  <span class="nav-title">-->
<!--    <img class="imagine" src='assets/img/logo_white.png' alt='logo'>-->
<!--    interMap-->
<!--  </span>-->
<!--</mat-toolbar>-->
<app-company-menu></app-company-menu>

<div class="main-div">
  <form [formGroup]="profileForm">
    Value: {{ profileForm.value | json }} <br>
    <div class="side-div">
      <div class="form-div" >
        <app-profile formControlName="profile"></app-profile>
      </div>
    </div>
    <div class="side-div">
      <div class="form-div" id="about-div">
        <app-about formControlName="about"></app-about>
      </div>
      <br>
      <div class="form-div" id="interests-div">
        <app-interests formControlName="interests"></app-interests>
      </div>
      <br>
<!--      <div class="add-photo-div" >-->
<!--        <label class="upload-image-div">-->
<!--          <span>Add photos</span>-->
<!--          <input #imageInput-->
<!--                 type="file"-->
<!--                 accept="image/*"-->
<!--                 (change)="processFile(imageInput)">-->
<!--        </label>-->
<!--      </div>-->
      </div>
  </form>
</div>

<div>
  <div *ngFor="let internship of getInternships(); let i=index" class="internship-item">
    <app-company-internships [internship]="internship" [index]="i"></app-company-internships>
  </div>
</div>
