#profileImg {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}

.container-details{
  display: flex;
  flex-direction: column;
  align-items:  center;
}

.div1{
  margin-left: 3vw;
  align-self: start;
  /*align-content: center;*/
}

.profile-title {
  font-size: 16px;
}

p {
  font-size: 20px;
}
