<div class="example-container">
  <form [formGroup]="form" >
    <div class="main-div">
      <div class="form-div">
        <mat-form-field class="fields">
          <ngx-mat-file-input placeholder="file" accept="image/*"
                              (change)="fileProgress($event)">
          </ngx-mat-file-input>
          <mat-icon matSuffix>photo</mat-icon>
        </mat-form-field>
        <br>
        <!--      </div>-->
        <mat-form-field class="fields" >
          <label>
            <input matInput placeholder="company name" formControlName="companyName">
          </label>
        </mat-form-field>
        <br>
        <mat-form-field class="fields" >
          <label>
            <input matInput placeholder="phone" formControlName="phone">
          </label>
        </mat-form-field>
        <br>
        <mat-form-field class="fields" >
          <label>
            <input matInput placeholder="address" formControlName="address">
          </label>
        </mat-form-field>
        <br>
        <mat-form-field class="fields" >
          <label>
            <textarea matInput placeholder="company description" formControlName="companyDescription"></textarea>
          </label>
        </mat-form-field>

        <br>
      </div>
    </div>

  </form>
</div>
