<section id="internships" class="internships-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h4>Most appreciated internships</h4>
          <p>When an internship ends, we give the students who applyed, the opportunity to leave a feedback so the younger ones who will follow their steps could find out easier what should they expect.</p>
        </div>
      </div>
    </div>
<!--    <div class="row">-->
<!--      <mdb-carousel [animation]="'slide'" [ngSwitch]="carouselDisplayMode" [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'">-->
<!--        <ng-container *ngSwitchCase="'single'">-->
<!--          <mdb-carousel-item *ngFor="let card of cards">-->
<!--            <mdb-card class="my-1">-->
<!--              <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>-->
<!--              <mdb-card-body>-->
<!--                <mdb-card-title>-->
<!--                  <h4> {{ card.title }}</h4>-->
<!--                </mdb-card-title>-->
<!--                <p>{{ card.description }}</p>-->
<!--                <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>-->
<!--              </mdb-card-body>-->
<!--            </mdb-card>-->
<!--          </mdb-carousel-item>-->
<!--        </ng-container>-->

<!--        <ng-container *ngSwitchCase="'multiple'">-->
<!--          <mdb-carousel-item *ngFor="let item of slides; let i = index">-->
<!--            <div class="col-md-4" *ngFor="let card of item; let cardIndex = index">-->
<!--              <mdb-card class="my-1">-->
<!--                <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>-->
<!--                <mdb-card-body>-->
<!--                  <mdb-card-title>-->
<!--                    <h4>{{card.title}}</h4>-->
<!--                  </mdb-card-title>-->
<!--                  <p>{{card.description}}</p>-->
<!--                  <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>-->
<!--                </mdb-card-body>-->
<!--              </mdb-card>-->
<!--            </div>-->
<!--          </mdb-carousel-item>-->
<!--        </ng-container>-->
<!--      </mdb-carousel>-->
<!--    </div>-->
  </div>
</section>
