.navbar {
  justify-content: space-between;
}

.nav-title {
  padding-left: 3rem;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}


#container {
  min-height:100%;
  position:relative;
}
#body {
  padding-bottom:130px;   /* Height of the footer */
}
#footer {
  position:absolute;
  bottom:0;
  width:100%;
}

