<div class='main-container'>
  <form class='form-circle'>
    <h1 class='forgot-password-title'>Forgot your password?</h1>
    <p class='forgot-password-para'>Enter your email address below and we'll get you back on track!</p>

    <mat-form-field class="forgot-password input-position">
      <input matInput type='email' [formControl]='email' placeholder='Email' required>
      <mat-error *ngIf="email.hasError('email') || email.hasError('required')">
        {{getErrorMessageEmail()}}
      </mat-error>
    </mat-form-field>
    <mat-label class="forgot-password-error-message">{{forgotPasswordMessage}}</mat-label>
    <button mat-button (click)='sendMail()' class='forgot-password-button' value='ForgotPassword'>
      SEND ME RESET PASSWORD INSTRUCTIONS
    </button>
    <a [routerLink]="['/auth/login/']" class='text'>Back to LOGIN</a>
  </form>
</div>
