.main-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.form-circle {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 38vw;
  height: 38vw;
  min-height: 380px;
  min-width: 380px;

  overflow: auto;

  background-color: white;
  border: solid 10px #28587B;
  border-radius: 50%;
}

.forgot-password-title {
  display:inline-block;
  font-size: 2vw;
  margin-bottom: 5vh;
}

.forgot-password-para {
  font-size: 1.3vw;
  text-align: center;
}

.forgot-password {
  margin-top: 5vh;
  width: 25vw;
  height: 3vw;
  min-height: 30px;
  min-width: 250px;
  font-size: 14px;
}

.input-position {

}

.forgot-password-error-message {
  font-size: 12px;
}

.input-button {
  width: 26vw;
  height: 2.5vw;
  min-height: 30px;
  min-width: 260px;

  background-color: #0D3c73;
  color: white;
  font-size: 1.2vm;
  margin-top: 5vh;
}

.input-button:hover{
  opacity: 0.9;
}

.input-button:active{
  opacity: 0.8;
}

.text{
  width: auto;
  height: 2.5vw;
  min-height: 30px;
  margin-top: 5vh;
  color: #0D3c73;
  font-size: 12px;
}

.text1{
  width: auto;
  height: 2.5vw;
  min-height: 30px;

  color: #0D3c73;
  font-size: 12px;
}


