<mat-toolbar color="primary">
  <span class="nav-title">interMap</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button mat-button color="accent" [routerLink]="'/'"> HOME </button>
  <button mat-button [routerLink]="'/internship-app/internships'"> INTERNSHIPS </button>
  <button mat-button [matMenuTriggerFor]="menu">JOIN</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/auth/login'"> LOGIN </button>
    <button mat-menu-item [routerLink]="'/auth/register'"> REGISTER </button>
  </mat-menu>
  <button mat-button [routerLink]="'/'">
    <mat-icon>help_outline</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
