.main-container {
  position: relative;
  height: 100%;
}

.form-circle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 15%);
  width: 38vw;
  height: 38vw;
  min-height: 380px;
  min-width: 380px;
  overflow: auto;
  background-color: white;
  border: solid 10px #28587B;
  border-radius: 50%;
}

.forgot-password-title {
  position: absolute;
  top: 10%;
  left: 25%;
  transform: translate(0%, -10%);
  display:inline-block;
  font-size: 2vw;
}

.forgot-password-para {
  position: absolute;
  top: 25%;
  left: 20%;
  right: 20%;
  /*transform: translate(-10%, -25%);*/
  font-size: 1.3vw;
  text-align: center;
}

.forgot-password {
  width: 25vw;
  height: 3vw;
  min-height: 30px;
  min-width: 250px;
  font-size: 14px;
}

.input-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forgot-password-error-message {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
  font-size: 12px;
}

.forgot-password-button {
  position: absolute;
  top: 75%;
  left: 50%;
  font-size: 1.2vm;
  transform: translate(-50%, -75%);
  width: 26vw;
  height: 2.5vw;
  min-height: 30px;
  min-width: 260px;
  background-color: #0D3c73;
  color: white;
}

.forgot-password-button:hover {
  opacity: 0.9;
}

.forgot-password-button:active {
  opacity: 0.8;
}

.text {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -85%);
  width: auto;
  height: 2.5vw;
  min-height: 30px;
  color: #0D3c73;
  font-size: 12px;
}
