ul {
  list-style: none;
  margin: 0px;
}
p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.25px;
  font-weight: 300;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

.wrapper {
  text-align: left;
}


.section-heading {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}

.section-heading h4 {
  margin-top: 0;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 300;
  color: #121212;
}

.section-heading p {
  color: #7a7a7a;
  padding: 0 25%;
}


.what-we-do {
  background-color: #fff;
  padding-bottom: 80px;
}

.what-we-do .tabs li a {
  text-decoration: none;
  color: #121212;
}

.what-we-do .tabs .active .list-item {
  background-color: #f2745f!important;
  color: #fff!important;
}

.what-we-do .tabs .active .list-item .icon {
  background-color: #fff;
}

.what-we-do .list-item {
  background-color: #f4f4f4;
  text-align: center;
  padding: 40px 0;
  margin: 15px 0;
  transition: all 0.5s;
}

.what-we-do .list-item .icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 90px;
  background-color: transparent;
}

.what-we-do .list-item h4 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.what-we-do .tab-content-services {
  margin-top: 60px;
}

.what-we-do .tab-content-services .right-image img {
  width: 100%;
  overflow: hidden;
}

.what-we-do .tab-content-services .left-text h4 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
}

.what-we-do .tab-content-services .left-text p {
  color: #7a7a7a;
}

.what-we-do .tab-content-services .left-text .primary-button {
  margin-top: 35px;
  margin-bottom: 50px;
}
