
<mat-dialog-content>
<!-- <p> {{internship.description}}</p>
<p> {{ internship.name }} </p>
<p> {{ internship.startTime }}</p>
<p> {{internship.endTime }}</p>
<p> {{internship.paid }}</p>
<p> {{internship.nrMonths}}</p>
<p> {{internship.nrApplicant}}</p>
<p> {{internship.status}}</p>
<p> {{internship.location}}</p>
<p> {{internship.addedDate}}</p>
<p> {{internship.company}}</p>
<p> {{internship.imagePath}}</p>
<p> {{internship.areaOfInterest}}</p>
<p> {{internship.numberOfFeedbacks}}</p>
<p> {{internship.averageOfFeedbacks}}</p>

 -->

 <div>

    <mat-card class="card">
  
      <mat-card-header>
        <div matCardAvatar>
          <img style="width: 100%" src="{{internship.imagePath}}" alt="no img">
        </div>
        <mat-card-title>
          {{internship.name}}
        </mat-card-title>
        <mat-card-title>
            {{internship.status}} Intenrship
          </mat-card-title>
        <mat-card-subtitle>
          <div class="posted-div">
            Posted on: {{internship.addedDate}} by {{ internship.company}}
          </div>
        </mat-card-subtitle>
        <mat-card-subtitle>

            <div class="posted-div">
              Posted on: {{ internship.description}}
            </div>
          </mat-card-subtitle>

        <mat-card-subtitle>
          <div class="status-edit-div">
            <div *ngIf="internship.paid" >
              <h5>Our internship is paid</h5>
            </div>
            <div class="status-div">
              {{internship.nrMonths}} months  ( {{internship.startTime}} - {{ internship.endTime}})
            </div>
            <div class="status-div">
                You can find to our office :  {{internship.location}}
              </div>
            <div class="status-div">
              You will be a master in :  {{internship.areaOfInterest}}
            </div>
            <div class="status-div">
                 {{internship.nrApplicants}} students have already applied here
              </div>


  
          </div>

          <div *ngIf = "internship.status === 'Open'">
            <button mat-button mat-dialog-close (click)="createApplication()" style="float: right;">Apply</button>
        </div>

        </mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content>
  
      </mat-card-content>
  
      <mat-divider></mat-divider>
      <mat-card-footer>
        <div class="footer-div">
          <star-rating [value]="internship.averageOfFeedbacks" checkedcolor="gold" size="30px" uncheckedcolor="black"></star-rating>
        </div>
  
      </mat-card-footer>
  
    </mat-card>
  
  </div>
  

<div *ngIf = "internship.status === 'Closed' ">


<h4>Comments section</h4>
<div class="container task-list">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-white post panel-shadow" *ngFor="let feedback of feedbacks">
                <div class="post-heading">
                  
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                    
                    
                        <star-rating [value]="feedback.rating" checkedcolor="gold" uncheckedcolor="black" 
                            size="20px"  readonly="true" (rate)="onRate($event)"></star-rating>
                    
                </div> 
                <div class="post-description"> 
                    <p>{{feedback.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</mat-dialog-content>


<button mat-button mat-dialog-close style="float: right;">Close</button>