<p>internship-modal-details works!</p>
<h2> {{ internship.name }} </h2>
<h2> {{ internship.startTime }}</h2>
<h2> {{internship.endTime }}</h2>
<h2> {{internship.paid }}</h2>
<h2> {{internship.nrMonths}}</h2>
<h2> {{internship.description}}</h2>
<h2> {{internship.nrApplicant}}</h2>
<h2> {{internship.status}}</h2>
<h2> {{internship.location}}</h2>
<h2> {{internship.addedDate}}</h2>
<h2> {{internship.company}}</h2>
<h2> {{internship.imagePath}}</h2>
<h2> {{internship.interests}}</h2>
<h2> {{internship.numberOfFeedbacks}}</h2>
<h2> {{internship.averageOfFeedbacks}}</h2>



<button mat-button mat-dialog-close (click)="createApplication()">Apply</button>
<button mat-button mat-dialog-close>Close</button>