<div class='main-container'>
  <form class='form-circle'>
    <h1 class='reset-title'>Reset password</h1>
    <div class = 'input-position'>
      <mat-form-field class="login-input">
        <input matInput [type]="hidePassword ? 'password' : 'text'"
               [formControl]='password' placeholder='New password' required minlength="6">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" >
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.hasError('required') || password.hasError('minlength')">
          {{getErrorMessagePassword()}}
        </mat-error>
      </mat-form-field>
    </div>
    <button (click)='resetPassword()' class='input-button' mat-button value='RESET PASSWORD'>
      RESET
    </button>
  </form>
</div>
