<div class='main-container'>
  <form class='login-circle'>
    <img class='hex-icon' alt='avatar' src='assets/img/hexagon.png'>
    <mat-form-field class="login-input input-email">
      <input matInput type='text' [formControl]='email' placeholder='Email' required>
      <mat-error *ngIf="email.hasError('email') || email.hasError('required')">
        {{getErrorMessageEmail()}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="login-input input-password">
      <input matInput [type]="hidePassword ? 'password' : 'text'"
             [formControl]='password' placeholder='Password' required minlength="5">
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" >
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.hasError('minLength') || password.hasError('required')">
        {{getErrorMessagePassword()}}
      </mat-error>
    </mat-form-field>
    <mat-label class="login-error-message">{{loginMessage}}</mat-label>
    <button mat-button (click)='login()' class='input-button' value='Login'
            disabled = {{checkLoginButton()}}>Login</button>
    <a (click)='forgetPassword()' class='text'>Forget Password?</a>
  </form>
</div>
